<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite - Studentenportal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <a th:href="@{/login}" class="top-left-button" title="Zurück zum Login">Zurück zum Login</a>

    <div class="block logo-block">
        <div class="logo">
            <img src="/images/logo_studidocs.svg" alt="StudiDocs Logo">
        </div>
    </div>
    <div class="block welcome-block">
        <h2>Willkommen zum Studentenportal</h2>
        <p>Wählen Sie eine der folgenden Optionen, um fortzufahren:</p>
        <br></br>
        <div>
            <a th:if="${isAdmin}" th:href="@{/admin}" class="admin">Admin-Bereich</a>
            <a th:if="${isStudentenrat}" th:href="@{/studentenrat}" class="studentenrat">Studentenrat</a>
            <a th:href="@{/dokumente}" class="dokumentenmanagement">Dokumentenmanagement</a>
            <a th:href="@{/kalender}" class="kalender">Kalender</a>
        </div>
    </div>
</div>

</body>
</html>